@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
*{
    margin:0px;
    padding:0px;
}

body{
    /* background: url(../images/login.png) ; */

    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 14pt;
    font-family: "Spartan";
    color: #2A293E;
    background-image: url("https://img.freepik.com/premium-vector/watercolor-background-with-drawn-flowers_52683-61587.jpg?w=2000");
}


.contact-us{
    /* background: #dbcc93; */
    padding: 50px 100px;
    border: 2px solid #e84393;
    border-top: 10px solid #e84393;
  
    /* background: url(../images/login.png) ; */
    opacity: 0.9;

}

label,input,textarea{
    display: block;
    width: 100%;
    font-size: 12pt;
    line-height: 24pt;    
    font-family: "Spartan";
    color: #000000;
}

input{
    margin-bottom: 24pt;
}

h3{
    font-weight: normal;
    font-size: 10pt;
    line-height: 24pt;
    font-style: italic;
    margin: 0 0 0.5em 0;
}

span{
    font-size: 8pt;

}

em{
    color: #f45702;
    font-weight: bold;
}
    
textarea,input{
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.792);
    border-radius: 5px;
    /* background: #e6d9e5; */
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
}

button{
    color: #f8f4e5;
    background-color:#d56bce;;
    
}

input:focus, textarea:focus {
    border: 1px solid #6bd4b1;
  }
  ​
  textarea {
    resize: none;
  }
  
  button {
    display: block;
    float: right;
    line-height: 24pt;
    /* padding: 8px 20px; */
    border: none;
    background: #e84393;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
    margin: 9px 17px;
    width: 80%;
    padding: 0;
  }
  button:hover {
    background: inherit;
    color: white;
    background:#c41f6e;
    /* border-bottom: 2px solid #f45702; */
  }
  ​
  ::selection {
    background: #ffc7b8;
  }
  ​
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
    border: 1px solid #6bd4b1;
    -webkit-text-fill-color: #3933a3;
    -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
    transition: background-color 5000s ease-in-out 0s;
  }